<ion-header>
  <ion-navbar>
    <ion-title>Articles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-card *ngFor="let article of articles">
      <img src="{{ article.urlToImage }}">
      <ion-card-header>{{ article.title }}</ion-card-header>
      <ion-card-content>
        {{ article.description }}
        <div padding></div>
        <button ion-button icon-only color="danger" (click)="openInBrowser(article)">
          <ion-icon name="globe"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="share(article)">
          <ion-icon name="share"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="addToWatchLater(article)">
          <ion-icon name="time"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>