<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let source of sources" (click)="openArticlesPage(source)">
      <ion-card-header>{{ source.name }}</ion-card-header>
      <ion-card-content>{{ source.description }}</ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>