<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <ion-list>
      <ion-item menuClose ion-item *ngFor="let page of pages" (click)="page.handler()">
        <!--<button >-->
          <ion-icon name="{{ page.icon }}" item-left></ion-icon>
          {{ page.title }}
        <!--</button>-->
      </ion-item>
    </ion-list>
  </ion-content>
 
</ion-menu>
 
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>